.container{
  width:100%;
  height:100vh;
   display:flex;
   align-items: center;
   justify-content:center
}
#chess-board{
    height: 400px;
    width: 400px;
    border: 3px solid black;
  }

  .row{
    display: flex;
  }

  .square{
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
.row-reverse{
  display: flex;
  flex-direction: row-reverse;
}
  .piece-image{
    width: 45px;
    height: 45px;
  }
  .square:hover .piece-image{
    transform: translateY(-3px);
  }